body, html {
	height: auto;
	margin: 0;
	overflow: hidden;
	width: 100%;
}

html {
	max-width: 100%
}

button {
	background-color: orange;
	border-radius: 12.5px;
	border-style: none;
	cursor: pointer;
	display: block;
	height: auto;
	padding: 10px;
	margin : 5px 20px;
	width: auto;
	--webktit-display:block;
}

h1 {
	text-align: center;
}

p {
	font-size: 20px;
}

#toolbar {
	background-color: lightblue;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	height: auto;
	top: 0;
	left: 0;
	width: 100%;